.cat {
    width: 257px;
    height: 256px;
    background-size: cover;
    aspect-ratio: 4/3;
    cursor: pointer;
    position: relative;
}

.cat:hover {
    transform: scale(1.2);
    box-shadow: 0px 9px 18px 0px #0000002e;
}

.icon {
    position: absolute;
    bottom: 17px;
    right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
